/* header.css */

.header {
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #414656;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(65, 70, 86, 0.3);
}

.logo-dark {
    font-size: 32px;
    font-weight: 700;
    color: #414656;
    text-decoration-line: none;
    margin-right: 250px;
}
.logo-dark:hover{
    text-decoration-line: none;
}

.menu > a {
    text-decoration-line: none;
    margin-right: 30px;
    color: #414656;
}

.menu {
    margin-right: 150px;
}

.searching_bar {
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: solid 2px #A5ABBD;
    margin-right: 30px;
    background-color: transparent;
    color: #414656;
    font-size: 16px;
}

.registration {
    width: 130px;
    height: 50px;
    border-radius: 22px;
    border: 1px solid rgba(65, 70, 86, 0.3);
    background-color: transparent;
    color: #A5ABBD;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
.clicked-active{
    font-weight: 600;
}
button:hover {
    cursor: pointer;
}